<h1>Services</h1>

<%= link_to 'New Service', new_service_path %>

<% @services.each do |service| %>
  <p>
    Service: <%= link_to service.name, service_path(service) %>
    <br>
    Base Cost: <%= service.base_cost %>
  </p>
<% end %>
