<%= link_to 'Services', services_path %>

</br>

<%= link_to 'Edit', edit_service_path %>

<p>
  <strong>Name</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Base Cost</strong>
  <%= @service.base_cost %>
</p>
